/** 
 * Generic
 */


html {
    font-size: $typographic-root-font-size;
}

body {
    background-color: #282828;
    font-family: $typographic-font-family;
    color: $typographic-base-font-color;
    line-height: $typographic-base-line-height;
    font-size: $typographic-base-font-size;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:  $typographic-title-font-color;
    font-family: $typographic-font-family;
    font-weight: 500;
}

h1 {
    font-size: $typographic-base-font-size * 2.5;
    @include line-height(2);
    @include margin-top(4);
    @include margin-bottom(1);
}

h2 {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(2);
    @include margin-bottom(.5);
}

h3 {
    font-size: $typographic-base-font-size * 1.375;
    @include line-height(1);
    @include margin-top(2);
    @include margin-bottom(.5);
}

h4 {
    font-size: $typographic-base-font-size * 1.2;
    @include line-height(1);
    @include margin-top(1.5);
    @include margin-bottom(.5);
}

h5 {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-top(2.5);
    @include margin-bottom(.5);
}

h6 {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-top(2.5);
    @include margin-bottom(.5);
}

img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: inherit auto;
}

hr {
    margin-top: 52px;
    margin-bottom: 52px;
    border: 0;
    color: $color-base;
    display: block;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    background-size: 100% 26px;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
    width: 100px;
}

a {
    color: $typographic-link-p-font-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $typographic-link-s-font-color;
    }
}

b,
strong {
    font-weight: 500;
}

ul {
    list-style: square;
    @include margin-bottom(1);
    & li {
        padding: 0 5px;
        margin-bottom: 10px;
    }
}

p {
    @include line-height(1);
    @include margin-bottom(1);
}

blockquote {
    padding: 0;
    font-style: italic;
    text-align: center;
}

figure {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    @include line-height(.75);
    @include margin-top(.25);
    color: $color-base;
    font-size: $typographic-small-font-size;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.layout {
    lost-center: $layout-width;
}

.content {
    &__inner {
        padding: 25px 20px;
    }
}

.quote {
    background-color: darken($color-base,87%);
    color: darken($typographic-base-font-color,20%);
}
@include breakpoint-sm {
    figure.float-left,
    figure.float-right {
        max-width: 310px;
        @include padding(0, 1, 0, 1);
    }
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }
    .content {
        lost-column: 7/12;
        &__inner {
            padding: 30px 20px;
        }
    }
}

@include breakpoint-md {
    .content {
        lost-column: 2/3;
        &__inner {
            padding: 40px 35px;
        }
    }
}

.card{
    border-radius: 4px;
    background: #444;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin: 20px; 
  min-height: 150px;
   p {
    color: darken($typographic-base-font-color, 20%);
   }
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-as{
  background-image: url('../images/as.png');
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-android{
   background-image: url('../images/android.png');
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-widget{
   background-image: url('../images/widget.png');
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

body .gist .highlight {
    background: #272822;
}
.file {
    padding:20px;
   background: #272822; 
}

body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj {
    color: #f8f8f2;
}
body .gist .pl-c1 {
    color: #ae81ff;
}
body .gist .pl-enti {
    color: #a6e22e;
    font-weight: 700;
}
body .gist .pl-st {
    color: #66d9ef;
}
body .gist .pl-mdr {
    color: #66d9ef;
    font-weight: 400;
}
body .gist .pl-ms1 {
    background: #fd971f;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #75715e;
    font-style: italic;
}
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
    color: #66d9ef;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol {
    color: #e6db74;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
    color: #a6e22e;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
    color: #f92672;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #e6db74;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #f92672;
    font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp {
    color: #ae81ff;
}
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-mo,
body .gist .pl-entl {
    color: #fd971f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #a6e22e;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #f92672;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #a6e22e;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
    background: #a6e22e;
    color: #272822;
}
.gist .gist-meta {
   background: #DDD!important; 
}

